/********
****Icons******
********/

.fuel_bigger {
    background-image: url('../img/icons/fuel.png');
    width: 20px;
    height: 20px;   
}
.gear_bigger {
    background-image: url('../img/icons/gearbox.png');
    width: 20px;
    height: 20px;   
}
.engine_bigger {
    background-image: url('../img/icons/engine.png');
    width: 20px;
    height: 20px;
}
.garage_bigger {
    background-image: url('../img/icons/garage.png');
    width: 20px;
    height: 20px;
}
.man_bigger {
    background-image: url('../img/icons/man.png');
    width: 20px;
    height: 20px;
}
.air-conditioner {
    background-image: url('../img/icons/air-conditioner.png');
    width: 20px;
    height: 20px;
}
.cuzov {
    background-image: url('../img/icons/cuzov.png');
    width: 20px;
    height: 20px;
}
.fuel_type {
    background-image: url('../img/icons/fuel_type.png');
    width: 20px;
    height: 20px;
}
.suitcase {
    background-image: url('../img/icons/suitcase.png');
    width: 20px;
    height: 20px;
}

/******
******Transport******
******/
.catalog {
	background: url(../img/Reef.jpg);
	background-size: cover;
    height: 100vh;
    width: 100%;
}
.breadcrumbs a {
    color: #9d9d9d;
    text-decoration: none;
    font-weight: normal;
}
.content {
    width: 975px;
    min-width: 975px;
    margin: 0 auto;
    overflow: auto;
    min-height: 590px;
}
.align {
    background-color:#FFFFFF;
    width: 100%;
    padding: 25px;
    border-radius: 1px;
    margin-bottom: 20px;
    overflow: auto;
    position: relative;
    border: 1px solid #ededed;
    border-radius: 2px;
}
.carClass {
    cursor: pointer;
    float: left;
    margin-right: 5px;
    padding-bottom: 20px;
    width: 149px;
    text-align: center;
}
.carName {
    color: #000;
    font-weight: 600;
    margin-bottom: 4px;
}
.carPriceRange {
    color: #aaa;
}
.carPriceRange span {
    color: #1ABC9C;
    font-weight: bold;
}
#catCars {
    height: 145px;
}
.light_yellow_price {
    background-color: #FFFEAA;
}
.from_to_days {
    padding: 6px 35px 6px 0;
    text-align: center;
    color: #353535;
}
.price {
    color: #1ABC9C;
    font-weight: bold;
    text-align: right;
}
.deposit {
    border-top: 1px dashed #ededed;
}
.note {
    font-size: 14px;
    color: #b1b1b1;
    text-align: right;
}
.from_to_days, .from_to_days span, .car_info p, .desk {
    font-weight: bold;
    color: #969696;
}
.carClass {
    cursor: pointer;
    float: left;
    margin-right: 5px;
    padding-bottom: 20px;
    margin-right: 35px;
    width: 149px;
    text-align: center;
}

/******************************************************/

.catalog {
    /*background: url(../img/Reef.jpg);*/
    background-color: #eeeeee;
    background-size: cover;
    height: auto;
    width: 100%;
}

.cars {
    height: auto;
    width: 100%;
    border: 1px solid #ededed;
    border-radius: 2px;
    /*background-color: white;*/
    /*border: 1px solid black;*/
    
}
.car {
    min-height: 300px;
    height: auto;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
}
.car_image {
    width: 100%;
    height: 260px;
    /*border: 1px solid black;*/
    padding: 15px;
    text-align: center;
}
.car_image img {
    width: 100%;
    max-width: 400px;
}
.car_price {
    width: 100%;
    min-height: 260px;
    height: auto;
    /*border: 1px solid black;*/
}
.car_price h3 {
    margin: 0;
    margin-top: 10px;
}
.car_info {
    width: 100%;
    min-height: 260px;
    height: auto;
    /*border: 1px solid black;*/
}
.car_info p {
    margin: 10px 10px;
}
.car_info h1 {
    margin: 10px 10px;
}
.car_buttons {
    padding: 10px;
    height: auto;
    padding-bottom: 20px;
}
.car_button {
    padding: 10px;
}
.car .button {
    width: 100%;
    float: left;
}

