body {
	margin: 0;
	background-color: #1ca7ea;
}

* {
	box-sizing: border-box;
}

h1 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 75px 0 15px 0;
}
/*for bug fix*/
.row {
	margin-right: 0;
  	margin-left: 0;  
}

.marg_btm_20 {
	margin-bottom: 20px;
}

.flexbox {
	display: flex;
}

.btn /*button*/ {
	display: flex;
	height: 40px;
	padding: 0 30px;
	background-color: #126B95;
	color: #FFFFFF;
	margin: 0 auto;
	border: none;
	cursor: pointer;
}

	.btn:hover /*button*/ {
	display: flex;
	height: 40px;
	padding: 0 30px;
	background-color: #0B3D56;
	color: #FFFFFF;
	margin: 0 auto;
	border: none;
	cursor: pointer;
	}

	.btn:focus /*button*/ {
		color: #000000;
		background: #68A0BB;
		border: 2px dotted #000000;
		font-weight: 600;
		outline: none;
	}
	.btn:active {
		color: #000000;
		background: #FFFFFF;
		border: 2px solid #000000;
		font-weight: 600;
		outline: none;
	}	

.asterisk_red {
	color: red;
	font-size: 20px;
	margin: 0;
}


/*ADDRESS*/

.contact_us {
	justify-content: center;
}

.head-title {
	padding: 20px 0;
}

.head-title h1 {
	margin: 0;
	text-align: center;
}

.map #map {
	width: 100%
	}

	#map {
		border: none;
	}

	
.h2_contact {
	text-align: center;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-bottom: 3px;
}

.line {
	display: block;
	width: auto;
	height: 2px;
	background-color: #000000;	
}

.address {
	display: flex;
	flex-grow: 1;
	padding: 20px;
	flex-direction: column;
	background-color: #59BFEF;
}

.address > span {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
	margin: 3px 0;
	text-align: center;
	flex-wrap: nowrap;
}

.address > form {
	margin: 10px;
}

/*CALL*/

.call {
	width: 100%;
	background-color: #59BFEF;
	padding: 10px 0 20px;
	display: flex;
	flex-direction: column;

}
		
	.help {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 20px;
		font-weight: 600;
		display: flex;
		justify-content: center;
		padding: 20px;
		margin: 0;
	}

	.number_phone {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 50px;
		font-weight: 900;
		display: flex;
		justify-content: center;
	}


/* SEND FORM */
.send_form {
	padding: 20px;
}

	.form-inner {
		justify-content: center;
	}

		.form-group {
			margin-bottom: 20px;
		}

			.form-group .form-control:focus + .group-line > .hr {
				width: 100%;
			}

			.form-group .group-line {
				width: 100%;
				height: 3px;
				background-color: #59BFEF;
				position: relative;
			}


				.form-group .group-line > .hr {
					width: 0;
					height: 3px;
					position: absolute;
					top: 0;
					left: 0;
					background-color: #0B3D56;
					transition: width 0.2s linear;
				}

			.form-group .form-control {
				background-color: #1ca7ea;
				border: none;
				padding: 3px;
				margin: 0;
				font-size: 20px;
				outline:none;
				width: 100%;
			}

			.form-group > label {
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
				font-size: 20px;
				display: flex;
				padding: 0 8px;
			}

/*validate form*/
.error-email {
	color: red;
}