* {
	box-sizing: border-box;
/*	padding: 0;
	margin: 0;*/
}
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}
hr {
	border: 0;
	height: 0;
	border-top: 1px solid #1ca7ea;
}
section {
	padding: 20px;
	width: 80%;
	margin: 0 auto;
}
.row:after {
	content: "";
    clear: both;
    display: table;
}
[class*='col-'] {
  	float: left;
}
.col-1  { width: 8.33%;  } 
.col-2  { width: 16.66%; }
.col-3  { width: 25%;    }
.col-4  { width: 33.3%;  }
.col-5  { width: 41.65%; }
.col-6  { width: 50%;    }
.col-7  { width: 58.33%; }
.col-8  { width: 66.66%; }
.col-9  { width: 75%;    }
.col-10 { width: 83.33%; }
.col-11 { width: 91.67%; }
.col-12 { width: 100%;   }
.dimmed {
	background-color: rgba(0, 0, 0, 0.7);
	height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 5;
}
.box {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	/*box-shadow: 0px 0px 3px 1px #d4d4d5;*/
	background-color: white;
	
}
/******

*******Icons*******

******/
.icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-size: cover;
	background-position: center;
	margin-bottom: -2px;
	margin-right: 5px;
	/*opacity: .5;*/
}
.car_door {
	background-image: url('../img/icons/car-door.png');
}
.fuel {
	background-image: url('../img/icons/fuel.png');	
}
.gear {
	background-image: url('../img/icons/gearbox.png');
}
.engine {
	background-image: url('../img/icons/engine.png');
}
.garage {
	background-image: url('../img/icons/garage.png');
}
.man {
	background-image: url('../img/icons/man.png');
}
.social_vk {
	background-image: url('../img/icons/vk-social-logotype.png');
}
.social_fb {
	background-image: url('../img/icons/facebook-logo.png');
}
.social_g {
	background-image: url('../img/icons/google-plus-social-logotype.png');
}
.big_icon {
	width: 40px;
	height: 40px;
}
/*****

 ********Buttons*******

 *******/
.button {
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
	border: none;
	color: white;
	background-color: #cac9cd;
	height: 34px;
	line-height: 34px;
	padding: 0 16px;
    text-align: center;
    text-decoration: none;
    outline: none;
    transition: .2s;
    /*border-radius: 3px;*/
	/*font-weight: bold;*/
}
.button:hover {
	background-color: #b5b4b8;
}
.button.big {
	font-size: 22px;
	height: 44px;
	line-height: 44px;
	padding: 0 20px;
}
.primary {
	background-color: #1ca7ea;
}
.primary:hover {
	background-color: #1996d2;
}
.success {
	background-color: #1abc9c;
}
.success:hover {
	background-color: #14967c;
}
.yellow {
	background-color: #ffd232;
}
.yellow:hover {
	background-color: #ffc700;
}
.red {
	background-color: #ff6464;
}
.red:hover {
	background-color: #e55a5a;
}
.white {
	background-color: transparent;
	border: 2px solid white;
	font-weight: normal;
}
.white:hover {
	background-color: white;
	color: #1ca7ea;
}
