/************ Меню Володі **************/

.top_menu {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
	padding: 30px 20px;
	background-color: rgba(0, 0, 0, 0.0);
	align-items: center;
}
.top_menu .header_sign .button {
	margin-left: 18px;
	font-size: 18px;
	line-height: 30px;
}
.top_menu .header_menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}
.top_menu .header_menu > li {
	padding: 6px 0;
	margin-right: 18px;
}
.top_menu .header_menu > ul {
	margin-top: 30px;
}
.top_menu .header_menu > li a {
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	position: relative;
}
.top_menu .header_menu > li .top_menu_active:after {
	content: '';
	width: 100%;
	height: 2px;
	background-color: #ffffff;
	display: block;
}
.top_menu .header_menu > li a:after{
	content: '';
	width: 0;
	height: 2px;
	background-color: #ffffff;
	transition: width .3s ease-out;
	display: block;
}
.top_menu .header_menu > li a:hover:after {
	width: 100%;
}
.top_menu .header_sign {
	text-decoration: none;
	padding: 0;
	margin: 0;
	margin-right: 8px;
	transition: all .3s ease;
	color: #ffffff;
	display: flex;
	list-style: none;
}
.top_menu .header_sign a:hover {
	background-color: rgba(255, 255, 255, 1);
	color: #1ca7ea;
}

/********************************/

/******
*******Lead form******
*******/
.lead_form {
	padding: 10px;
}
/******** Лід-Форма Жені ******/

.lead_form form{
	width: 100%;
	height: 425px;
	background-color: white;
	padding: 20px;
}
.lead_form form select {
	width: 100%;
	height: 35px;
	border: 2px solid #1ca7ea;
	font-size: 17px;
	padding: 5px;
	outline: none;
	margin-bottom: 17px;
	background-color: white;
	background-size: 24px;
	background-position: 5px 4px;
	background-repeat: no-repeat;
}
.lead_form form select.time {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: url('../img/clock.png');
	padding-left: 33px;
}
.lead_form form select.time:required:invalid {
	color: #757575;
}
.lead_form form select.time option {
	color: black;
}
.lead_form form select:focus {
	background-color: #e8f6fc;
}
.lead_form form input {
	width: 100%;
	height: 35px;
	border: 2px solid #1ca7ea;
	font-size: 16px;
	padding: 5px;
	outline: none;
	margin-bottom: 13px;
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: 5px 4px;
}
.lead_form form input:focus {
	background-color: #e8f6fc;
}
.lead_form form .error {
	border: 2px solid #ff6464;
	background-color: #ffd0d0;
}
.lead_form form input.location {
	background-image: url('../img/location (1).png');
	padding-left: 33px;
}
.lead_form form input.mobile_phone_number {
/*	background-image: url('../img/smartphone.png');
	padding-left: 33px;*/
}
.lead_form form input.datepicker {
	padding-left: 33px;
}
.lead_form form input.datepicker.from {
	background-image: url('../img/small-calendar.png');
}
.lead_form form input.datepicker.to {
	background-image: url('../img/small-calendar.png');
}
.lead_form h2 {
	margin: 0;
	margin-bottom: 10px;
	color: #1ca7ea;
	font-size: 1.3em;
}
.lead_form p {
	margin: 0;
	margin-bottom: 8px;
}
.lead_form .button {
	width: 100%;
}

/**********************************/

.lead_header {
	padding: 10px;
}
.lead_info {
	min-height: 390px;
	height: auto;
	width: 100%;
	color: white;
	padding: 30px 20px;
}
.lead_info p {
	margin: 0;
	font-size: 19px;
}
.lead_info h1 {
	font-size: 30px;
	margin: 0px;
	margin-bottom: 20px;
}
.lead_info ul {
	margin: 0;
	padding: 0;
	margin-top: 30px;
}
.lead_info ul li {
	margin-right: 20px;
	list-style: none;
	display: inline-block;
}
.lead_info .button {
	margin-top: 30px;
}
/******
******Main content*******
******/
.page_header {
	height: auto;
	width: 100%;
}
.page_header_image {
	background-image: url('../img/greyscale_car.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	min-height: 615px;
	height: auto;
}
.scale {
	width: 100%;
	min-height: 615px;
	height: auto;
	background-color: rgba(28, 167, 234, 0.7);
}
.deals {
	/*background-color: #eeeeee;*/
	height: auto;
	width: 100%;
	padding-bottom: 10px;
	padding-top: 30px;
}
.deals_header {	
	text-align: center;
	color: white;
	height: auto;
	width: 100%;
	background-image: url('../img/Reef.jpg');
	background-size: cover;
	background-position: center;
}
.deals_header section {
	padding: 10px;
}
.deals_header h1{
	margin: 0;
}
.deal_wrap {
	padding: 0 10px;
	/*background-color: white;*/
}
.deal {
	height: auto;
	margin-bottom: 20px;
}
.deal .deal_image {
	width: 100%;
	height: 200px;
	background-color: #dcdbde;
	background-position: center;
	background-size: cover;
	z-index: 1;
	position: relative;
	overflow: hidden;
}
.deal_info {
	height: auto;
/*	border-left: 1px solid #dcdbde;
	border-right: 1px solid #dcdbde;*/
	padding: 10px 20px;
}
.deal_info h3, p {
	margin: 5px;
}
.deal_info p {
	font-size: 14px;
}
.deal_buttons {
	padding: 10px;
	height: auto;
	padding-bottom: 20px;
}
.deal_button {
	padding: 10px;
}
.deal .button {
	width: 100%;
	float: left;
} 
.deal:hover .ribbon{
	height: 50px;
	padding-top: 20px;
}
.ribbon {
 	box-sizing: content-box;
  	width: 0;
  	height: 40px;
  	padding-top: 10px;
  	 /*border: 30px solid #1abc9c; */
  	/*border: 20px solid #ff6464;*/
  	/*border: 20px solid #ffdc5a;*/
	border: 30px solid #ffc700;
  	border-top: 0 solid;
  	border-bottom: 15px solid rgba(0,0,0,0);
 	z-index: 2;
 	transition: all .2s;
 	position: absolute;
}
.ribbon p {
	color: white;
  	margin-left: -14px;
  	font-weight: bold;
}
.main_page_info {
	height: auto;
	width: 100%;
	background-image: url('../img/Reef.jpg');
	background-size: cover;
	background-position: center;
	color: white;
	padding: 20px 0px;
}
.main_page_info_p {
	padding: 10px 0px 10px 5px;
}
.main_page_info_p p {
	margin: 0;
	padding: 0;
}
.main_page_info_p p:first-child {
	margin-bottom: 20px;
}
.main_page_list {
	padding: 10px 30px 10px 0px;
}
.main_page_list h1 {
	margin: 0;
	padding: 0px 10px;
	margin-bottom: 30px;
}
.main_page_list ul {
	margin: 0;
	padding: 0;
	padding-left: 35px;
}
.main_page_list ul li {
	font-size: 20px;
	margin-top: 10px;
}
.features {
	height: auto;
	width: 100%;
	background-color: white;
	padding: 40px 0px;
}
.feature {
	height: auto;
	width: 100%;
}
.feature_img {
	height: 80px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.feature_info {
	height: auto;
	text-align: center;

}
.feature_info h3 {
	/*color: #b5b4b8;*/
	color: #1ca7ea;
	padding: 0px 10px;
}
.feature_info p {
	padding: 0px 20px;
}
